<html>
    <head>
        <link rel="stylesheet" href="static\styles\assistant.css">
        <script src="static\js\assistant.js"></script>

        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-custom" style="min-width: 100%; border-radius: 0px; padding-top: 1.33rem; padding-bottom: 1.33rem;">
            <!-- <div class="icon-all"> -->
                <div style="max-width: 1.33rem; min-width: 1.33rem;"></div>
                <div>
                    <img src="{{url_for('static', filename='dog.png')}}" class="icon"/>
                    <img src="{{url_for('static', filename='heart.png')}}" class="icon icon-heart" style="padding-right:1rem !important;"/>
                </div>
                <div class="user-message">
                    Welcome {{g.user}}
                </div>
                <button type="button" class="btn logout" >
                    <span class="glyphicon glyphicon-log-out"></span> <a href="/my-link/">Logout</a> &nbsp;
                </button>
            <!-- </div> -->
        </nav>

        <!-- Check/Update Animal -->
        <div class="container-fluid">
            <!-- View My Animals -->
            <div id="myAnimals"></div>
            <!-- Update Animal -->
            <div class="row">
                <div class="col-6">
                    <!-- Adding new visit -->
                    <table class="table table-striped table-bordered " style="border-radius: 5rem;">
                        <thead>
                            <tr>
                                <th class="table-header" colspan="100%">New Visit</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="row" style="padding-bottom: 1rem; padding-left: 2rem;">
                                    <div class="col-6">
                                        <div class="row">
                                            <label class="labelinput">Customer ID: </label>
                                            <input class="input" type="text" id="customerID" name="customerID">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="row">
                                                <label class="labelinput">Animal ID:</label>
                                                <input class="input" type="text" id="animalID" name="animalID">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding-bottom: 1rem; padding-left: 2rem;">

                                    <div class="col-6">
                                        <div class="row">
                                            <label class="labelinput">Visit Comment: </label>
                                            <input class="input" type="text" id="vComment" name="vComment">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="row">
                                            <label class="labelinput">Status Key: </label>
                                            <input class="input" type="text" id="statusKey" name="statusKey">
                                        </div>
                                    </div>
                                </div>

                                <input type="submit" name = "submit" value="Submit" onclick="addVisit()">
                            </td>
                        </tr>
                        <tbody id="animalPass"></tbody>
                    </table>
                    <!-- Adding new visit -->
                </div>
                <div class="col-6">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="table-header" colspan="100%">Edit Animal Entry</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="row-fluid" style="padding-left: 0.67rem;">
                                    <label>Animal ID: </label>
                                    <input type="text" id="animalID_E" name="animalID_E">
                                    <input type="submit" name = "fill" value="fill" onclick="fill()">
                                </div>
                            </td>
                            <tbody id="filledResults"></tbody>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Check Requests -->
                <div class="col-6">
                    <h4>Check Requests</h4>
                    <div id="checkRequests"></div>
                </div>
                <!-- Donations -->
                <div class="col-6">
                    <h4>Check Donations</h4>
                    <div id="checkDonations"></div>
                </div>
            </div>
        </div>
    </body>
</html>