
<html>

    <link rel="stylesheet" href="static\styles\styles.css">
    <script src="static\js\script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<nav class="navbar navbar-custom" style="min-width: 100%; border-radius: 0px; padding-top: 1.33rem; padding-bottom: 1.33rem;">
      <div style="max-width: 1.33rem; min-width: 1.33rem;"></div>
      <div>
          <img src="{{url_for('static', filename='dog.png')}}" class="icon"/>
          <img src="{{url_for('static', filename='heart.png')}}" class="icon icon-heart" style="padding-right:1rem !important;"/>
      </div>
      <div class="user-message">
          Welcome {{g.user}}
      </div>
      <button type="button" class="btn logout">
        <span class="glyphicon glyphicon-log-out"></span> <a href="/my-link/">Logout</a> &nbsp;
      </button>
</nav>

<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>Check Status</th>
      </tr>
      <tr>
        <td>
            <label for="fname">Enter Animal ID:</label>
            <input type="text" id="DisplayOutcome" name="DisplayOutcome"><br><br>
            <input type="submit" name = "submit" value="Submit" onclick="getOutcome()">
        </td>
        <tr><br></tr>
          <tbody id="Outcomebody"></tbody>
      </tr>
    </table>
  </div>

  <div class="column">
    <table>
        <tr>
          <th>Make Donation</th>
        </tr>
        <tr>
          <td>
            <label for="fname">Enter Amount:</label>
            <input type="text" id="Amount" name="Amount"><br><br>
            <input type="submit" value="Submit" onclick="makeDonation()">
          </td>
          <tbody id="Delbody"></tbody>
        </tr>
        <tr><br></tr>
      </table>
    </div>
  </div>
</div>

  <div class = "center">
    <table>
        <tr>
          <th>Request Visit</th>
        </tr>
        <tr>
          <td>
            <label for="fname">Enter Animal ID:</label>
            <input type="text" id="Newname" name="Newname"><br><br>
            <!-- <label for="fname">Enter Student Grade:</label>
            <input type="text" id="Newgrade" name="Newgrade"><br><br> -->
            <input type="submit" value="Submit" onclick="requestVisit()">
          </td>
          <tbody id="Addedbody"></tbody>
        </tr>
      </table>
    </div>
  </div>
</div>



<table class = "tablefetch">
  <!-- <body>
    <input type="button" onclick="loadNames()" value="Get Student Grades" />
</body> --><body>
    <input type="button" onclick="currDogs()" value="Get List Of Dogs" />
    <input type="button" onclick="currCats()" value="Get List Of Cats" />
    <input type="button" onclick="underFive()" value="Under Five Years Old" />
    <input type="button" onclick="overFive()" value="Over Five Years Old" />
  </body>
<p id="currentClasses"></p>
</table>


<script>
    window.onload = function() {
        currDogs();
    };
</script>
</html>