<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static\styles\login-page.css">
<script src="static\js\script.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

&nbsp; &nbsp;
<img src="https://tinyurl.com/2hm6uc66" alt="logo" width="300" /></a>

<body>
    <form method="POST">
        <div class="myDiv">
            <label1><b>ID #:   </b>&nbsp;</label1>
            <input class="input" type="text" name="username" placeholder="ID">
            <p></p>
            <label1><b>Name:</b>&nbsp;&nbsp;</label1>
            <input class="input" type="text" name="password" placeholder="Name">
            <p></p>
            <input type="submit" name="submit" value="Login">
        </div>
        <form>
</body>

</html>