.navbar-custom{
    background-color: #003049;
}

.icon{
    max-width: 4rem;
    height: auto;
}

.icon-heart{
    max-width: 2.33rem;
    height: auto;
    padding-bottom: 3.5rem;
    position: absolute;
    top: 0.33rem;
}

.user-message{
    padding-left: 3rem; 
    color: #669BBC;
    font-size: 2rem;
    font-weight: bold;
}

.logout{
    margin-left:auto; 
    color: #003049 !important;
    background-color: #669BBC !important;
    border-radius: 0.67rem !important;
}
    .logout:hover{
        color: #669BBC !important;
        background-color: #003049 !important;
        border-color: #669BBC;
    }

.header{
    text-align: center;
    padding-top: 3.33rem;
}

.table-header{
    text-align: center;
}

.edit-animal{
    padding: 0.67rem;
}

.labelinput{
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}